@use '../config/' as config;

.content {
    // margin-top: 10rem;
    padding: 0 2rem;
    background: var(--first-color-200);
    // display: flex;

    @include config.breakpoint-up(medium) {
        margin-top: 10rem;
        padding: 0 6rem;
    }
}