@use '../config/' as config;

.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6rem 1fr;
  row-gap: 4rem;
  
  max-width: 100%;
  height: 100%;

  @include config.breakpoint-up(medium) {
    grid-template-columns: 30rem 1fr;
    grid-template-rows: auto;
  }

  @include config.breakpoint-up(xxl) {
    height: 100vh;
  }
}

.main {
  height: 100vh;
}