@use '../config/' as config;

.main {
  height: 100vh;
}

.container {
  // display: grid;
  // grid-template-columns: 300px auto;
  max-width: 100%;
  height: 100vh;
  padding: 0 1.5rem;
}